asgiref==3.9.1
click==7.1.2
colorama==0.4.6
commonmark==0.9.1
coverage==7.10.4
Django==5.2.5
iniconfig==2.1.0
mypy==1.17.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
pytest-django==4.11.1
rich==10.7.0
ruff==0.12.9
setuptools==80.9.0
sqlparse==0.5.3
tasks @ file:///C:/Courses/PythonTest_18082025/Day_3/pytest_materials/tasks_project
tinydb==4.5.1
typer==0.3.2
typing_extensions==4.14.1
tzdata==2025.2
uv==0.8.12
